* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
  color: #343434;
}

body {
  background-image: url("/assets/images/background.png");
  background-size: cover;
}

.image-effect {
  background-color: rgba(153, 171, 187, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.divider {
  background-color: #B0B0B0;
  height: 95%;
  width: 1px;
}

.tasks form button {
  margin-left: 0;
}

/* Estilos para os botões de contagem */

.btns {
  color: rgba(42, 64, 84, 0.5);
  background: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0 14px;
  height: 41px;
  margin: 0 0 15px 18px;
}

.btns.active-button {
  background: rgba(132, 167, 197, 0.5);
  color: white;
}

.btn-initial {
  background-color: #84A7C5;
  font-size: 1.625rem;
  text-transform: uppercase;
  width: 200px;
  height: 55px;
  box-shadow: 0 2.5px rgba(0, 0, 0, 0.5);
  color: #2A4054;
  border-radius: 5%;
}

/* Estilo para o botão de adicionar tarefa */
#add-task {
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0 14px;
  height: 41px;
  margin-left: 5px; /* Adiciona margem para o botão ficar ao lado da entrada de texto */
}

/* Centraliza a parte do cronômetro */
.container-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Faz a lista de tarefas não escapar da div */
.tasks-list {
  max-height: 60vh;
  overflow-y: auto;
}

/* Estilos para a parte de áudio binaural */
.binaural {
  margin-top: 20px;
}

.container {
  background-color: rgba(213, 213, 213, 0.8);
  border-radius: 5px;
  width: 90%; 
  max-width: 800px; 
  height: 90vh;
  padding: 20px;
  margin: auto; /* Centraliza o container */
  box-sizing: border-box;
}

.tasks form button {
  margin-left: 5px; 
}

.binaural {
  margin-top: 20px;
  text-align: center;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 767px) {
  .container {
    width: 100%; /* Defina a largura como 100% para ocupar toda a largura da tela */
    border-radius: 0; /* Remova o arredondamento das bordas */
    height: auto; /* Altura automática para acomodar o conteúdo */
  }

  .container-timer {
    padding-bottom: 20px; /* Adicione um espaço entre o cronômetro e as tarefas */
  }

  .col-md-6 {
    width: 100%; /* Define a largura da coluna como 100% */
    padding: 0 15px; /* Adiciona um espaçamento interno */
  }

  .tasks form {
    margin-bottom: 20px; /* Adiciona margem inferior ao formulário de tarefas */
  }

  .tasks-list {
    max-height: none; /* Remove a altura máxima para a lista de tarefas */
    overflow-y: visible; /* Permite rolar a lista de tarefas conforme necessário */
  }
}

@media screen and (max-width: 768px){
  .btn-group {
    display: flex;
    flex-direction: column;
  }
  .display-3{
    font-size: 3rem;
  }

} 